$content_width: 1260px;

$offest_y:0px;
$offset_x:15px;
$main-color:#ff3f40;
$g-color:#4c4c4c;
$w-color:#e5e5e5;
$b-color:#2d2d2d;
$wr-color:#c9c9c9;
$gr-color:#595959;
$bl-color:#313030;
$font-size-sm:12px;
$font-size-md:16px;
$font-size-lg:20px;
$font-size-xlg:22px;
$main-font-color:#6c6a6a;
$font:'Open sans';
$half-width:50%;
$font-weight-title:bold;